/*

File: bar.css

Abstract: CSS stylesheet for the FancyToolbar (now called "bar")

Version: 1.0

( see Disclaimer.txt )

*/

.fancy-toolbar-bezel {
	position: absolute;
	border-width: 55px 26px 26px 26px;
	-webkit-border-image: url(i/toolbarOutline.png) 55 26 26 26;
	z-index: -100;
	-webkit-user-select: none;
}

.fancy-toolbar-area {
	margin-top: -38px;
	height: 26px;
	-webkit-user-select: none;
	white-space: nowrap;
	overflow: hidden;
}

.fancy-toolbar-button {
	height: 26px;
	width: 29px;
	border: none;
	background-image: url(i/button.png);
	background-color: transparent;
	margin-right: 5px;
	padding: 0 2px 4px 0;
	text-align: center;
	font-family: Times;
	font-size: 13px;
	-webkit-user-select: none;
	vertical-align: middle;
}

.fancy-toolbar-button:active, .fancy-toolbar-button.fancy-toolbar-button-selected {
	background-image: url(i/buttonPressed.png);
}

.fancy-toolbar-button-segment {
	height: 26px;
	border: none;
	background-color: transparent;
	padding: 0;
	vertical-align: middle;
	margin: 0;
}

.fancy-toolbar-button-segment.fancy-toolbar-button-segment-start .fancy-toolbar-button-segment-cap {
	background-image: url(i/buttonLeft.png);
	background-repeat: no-repeat;
	height: 25px;
	width: 11px;
	float: left;
}

.fancy-toolbar-button-segment.fancy-toolbar-button-segment-start:active .fancy-toolbar-button-segment-cap, .fancy-toolbar-button-segment.fancy-toolbar-button-segment-start.fancy-toolbar-button-selected .fancy-toolbar-button-segment-cap {
	background-image: url(i/buttonPressedLeft.png);
}

.fancy-toolbar-button-segment.fancy-toolbar-button-segment-end {
	margin-right: 5px;
}

.fancy-toolbar-button-segment.fancy-toolbar-button-segment-end .fancy-toolbar-button-segment-cap {
	background-image: url(i/buttonRight.png);
	background-repeat: no-repeat;
	height: 26px;
	width: 14px;
	float: left;
}

.fancy-toolbar-button-segment.fancy-toolbar-button-segment-end:active .fancy-toolbar-button-segment-cap, .fancy-toolbar-button-segment.fancy-toolbar-button-segment-end.fancy-toolbar-button-selected .fancy-toolbar-button-segment-cap {
	background-image: url(i/buttonPressedRight.png);
}

.fancy-toolbar-button-segment.fancy-toolbar-button-segment-start .fancy-toolbar-button-segment-middle, .fancy-toolbar-button-segment.fancy-toolbar-button-segment-end .fancy-toolbar-button-segment-middle {
	width: 14px;
}

.fancy-toolbar-button-segment-middle {
	background-image: url(i/buttonMiddle.png);
	background-repeat: repeat-x;
	height: 26px;
	width: 20px;
	float: left;
}

.fancy-toolbar-button-segment:active .fancy-toolbar-button-segment-middle, .fancy-toolbar-button-segment.fancy-toolbar-button-selected .fancy-toolbar-button-segment-middle {
	background-image: url(i/buttonPressedMiddle.png);
}

.fancy-toolbar-button-segment-divider {
	background-image: url(i/buttonPressedMiddle.png);
	background-repeat: repeat-x;
	height: 26px;
	width: 1px;
	float: left;
}

.fancy-toolbar-button-bold:before {
	content: "B";
	font-weight: bold;
}

.fancy-toolbar-button-underline:before {
	content: "U";
	text-decoration: underline;
}

.fancy-toolbar-button-italic:before {
	content: "I";
	font-style: italic;
}

.fancy-toolbar-button-link img {
	content: url(I/link.png);
}

.fancy-toolbar-button-image img {
	content: url(i/camera.png);
}

.fancy-toolbar-button-text-align {
	margin-top: 6px;
	width: 10px;
	height: 9px;
}

.fancy-toolbar-button-text-align.fancy-toolbar-button-text-align-left {
	background-image: url(i/textAlign.png);
	background-position: 0 0;
}

.fancy-toolbar-button-text-align.fancy-toolbar-button-text-align-center {
	background-image: url(i/textAlign.png);
	background-position: 0 9px;
	margin-left: 5px;
}

.fancy-toolbar-button-text-align.fancy-toolbar-button-text-align-justify {
	background-image: url(i/textAlign.png);
	background-position: 0 17px;
	margin-left: 5px;
}

.fancy-toolbar-button-text-align.fancy-toolbar-button-text-align-right {
	background-image: url(i/textAlign.png);
	background-position: 0 25px;
	margin-left: 4px;
}
