<!--

File: index.html

Abstract: Main HTML file for the FancyToolbar

Version: 1.0

-->

<style>
body {
	margin: 80px;
	background-color: rgb(70%, 70%, 55%);
}

iframe.editable {
	width: 100%;
	height: 300px;
	border: none;
}
</style>

<link rel="stylesheet" type="text/css" href="../bar.css">
<script src="../bar.js"></script>

<iframe class="editable" src="t1001-content.html"></iframe>
